@use '../../../styles/variables' as *;

.button {
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  border-radius: 8px !important;
  border: 1px solid $color-elements !important;
  background-color: $color-white !important;
  color: $color-primary !important;
  transition: transform 300ms ease;

  &:hover {
    border-color: $color-primary !important;
    transform: scale(1.02);
  }
}

.selected {
  border-color: $color-elements !important;
}

[data-theme='dark'] {
  .button {
    border-color: $color-elements-dark !important;
    background-color: $color-surface-dark !important;
    color: $color-primary-dark !important;

    &:hover {
      border-color: $color-primary-dark !important;
    }
  }

  .selected {
    border-color: $color-elements-dark !important;
  }
}
