@use '../../../styles/variables' as *;

.book-card {
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 506px;
  border: 1px solid $color-elements;
  border-radius: 16px;
  background: $color-white;
  transition: all 300ms ease !important;

  &:hover {
    box-shadow: $shadow-card;
    transform: scale(1.02);
  }

  @media (max-width: $breakpoint-mobile) {
    height: 100%;
    max-height: 500px;
  }
}

.book-card__image-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 263px;
  padding: 24px;
  background: $color-white;
  border-radius: 16px;

  @media (max-width: $breakpoint-mobile) {
    // height: 100%;
    padding: 16px 16px 0;
  }
}

.book-card__image {
  max-width: 100%;
  max-height: 220px;
  object-fit: contain;
  margin: 0 auto;

  @media (max-width: $breakpoint-mobile) {
    max-height: 160px;
  }
}

.book-card__badge {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: $color-white;
}

.book-card__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.book-card__author {
  @include small-text;
  color: $color-primary;
}

.book-card__name {
  @include body-text;
  font-weight: $font-semibold;
  color: $color-primary;
}

.book-card__prices {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: auto;
}

.book-card__price {
  @include h4;
  color: $color-primary;
}

.book-card__old-price {
  @include body-text;
  color: $color-red;
  text-decoration: line-through;
}

.book-card__stock {
  display: flex;
  align-items: center;
  gap: 4px;
  @include small-text;
  color: $color-green;
}

.book-card__actions {
  display: flex;
  gap: 8px;
  padding: 0 16px 16px;

  > button {
    width: auto !important;
  }

  > button:first-child {
    flex: 1;
  }
}
