@use '../../styles/variables' as *;

.button {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  padding: 0 !important;
  background-color: $color-white !important;
  color: $color-primary !important;

  &:disabled {
    color: $color-elements !important;
  }
}

[data-theme='dark'] {
  .button {
    background-color: $color-surface-dark !important;
    color: $color-primary-dark !important;

    &:disabled {
      color: $color-icons-dark !important;
    }
  }
}
